body {
    height: 100vh;
    background-image: url(image/station.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(76, 90, 97);
    color: white;
}

h2 {
    text-align: center;
    
}

button {
    color: rgb(227, 223, 217);
    background-color: rgb(7, 7, 132);
    border: solid 2px balck;
    border-radius: 4px;
    width: 100px;
    padding: 5px 0;
}



